<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Codefellowship</title>
</head>
<body>
<div class="bg-primary text-gray"><h1>The Codefellowship!!</h1></div>
<div th:if="${user}">
    Hello, <span th:text="${user.name}"></span>!
    <a href="logout">Log out</a>
</div>
<div th:unless="${user}">
    <h2>Welcome To Home Page</h2>
    <button type="button" class="btn btn-dark"><a href="/login">Log in</a></button>
    <button type="button" class="btn btn-dark"><a href="/signup">Sign up</a></button>
</div>
</body>
</html>
